html {
    background-color: #E2C6A8;
}
.Flowers {
width: 800px;
display: block;
margin-left: auto;
margin-right: auto;
}
body h2 , p {
    background-color: #A8C4E2;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
    padding: 20px;
    font-size: 2em;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.us {
width: 800px;
display: block;
margin-left: auto;
margin-right: auto;
}