
body {
    text-align: center;
}
h1 {
    text-align: center;
}
.hero_img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
nav, footer {
    text-align: center;
}
main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}